@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}
/*Phone devices*/
@media (max-width:480px) {
    .grid-item:first-of-type{
        flex:2 1 98%;
    }
    .grid-item{
        flex:1 1 48%;
    }
}
/*Tablet devices*/
@media (min-width:481px) and (max-width:768px) {
    .grid-item:nth-child(1){
        flex:3 1 48%;
    }
    .grid-item:nth-child(2){
        flex:3 1 48%;
    }
    .grid-item{
        flex:2 1 31%;
    }
}
/*Computer devices*/
@media (min-width:769px){
    .grid-item:first-of-type{
        flex:2 1 48%;
    }
    .grid-item{
        flex:1 1 23%;
    }
}
#grid-floats, #grid-flex{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
    padding:0;
}
.grid-item{
    overflow:hidden;
    padding: 2%; 
    margin:1%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #999;
    box-shadow: #999 1px 1px 4px;
}
.grid-item img{
    width:100%;
}
.grid-item h3{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color:#333;
}
.grid-item p{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    color:#333;
    text-align: center;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    color:#333;
    text-align: center;
}